### 1. Import libraries and set paths

In [19]:
%matplotlib inline
import numpy as np
import pandas as pd
from itertools import compress
import matplotlib.pyplot as plt
from collections import defaultdict

In [20]:
## Fixed
# path_csv_video1 = '../reports/examples/validation_aus_openface/RostoIntensidade-07Setima-Sortudo/RostoIntensidade-07Setima-Sortudo.csv'
# path_csv_video2 = '../reports/examples/validation_aus_openface/RostoIntensidade-05Quinta-Acalmar/RostoIntensidade-05Quinta-Acalmar.csv'

##Dynamic
augmentations = ['adjust_brightness', 'adjust_jpeg_quality', 'rgb_to_grayscale','rot90']
videos=['RostoIntensidade-07Setima-Zangado', 'RostoIntensidade-04Quarta-Surpresa',
 'RostoIntensidade-07Setima-Sortudo','RostoIntensidade-05Quinta-Acalmar']

path_base_input = '../reports/examples/validation_aus_openface/tamires_augmentation/'

### 2. Load data

#### 2.1. Fixed

In [3]:
video1_df = pd.read_csv(path_csv_video1, sep=',')
video2_df = pd.read_csv(path_csv_video2, sep=',')

In [4]:
video1_df.head(2)

,frame,face_id,timestamp,confidence,success,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,1,0,0.000,0.98,1,0.27,0.25,0.00,0.0,0.00,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
1,2,0,0.033,0.98,1,0.09,0.12,0.09,0.0,0.03,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [18]:
video2_df.head(2)

,frame,face_id,timestamp,confidence,success,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,...,AU12_c,AU14_c,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c
0,1,0,0.000,0.93,1,0.42,0.00,0.17,0.0,0.35,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,0,0.033,0.98,1,0.35,0.03,0.06,0.0,0.31,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

#### 2.2. Dynamic

In [21]:
videos_df = defaultdict(lambda: defaultdict(str))

for aug in augmentations:
    for vid in videos:
        print(aug,'+',vid)
        videos_df[aug][vid] = pd.read_csv(path_base_input+aug+'/'+vid+'/'+vid+'.csv', sep=',')

adjust_brightness + RostoIntensidade-07Setima-Zangado
adjust_brightness + RostoIntensidade-04Quarta-Surpresa
adjust_brightness + RostoIntensidade-07Setima-Sortudo
adjust_brightness + RostoIntensidade-05Quinta-Acalmar
adjust_jpeg_quality + RostoIntensidade-07Setima-Zangado
adjust_jpeg_quality + RostoIntensidade-04Quarta-Surpresa
adjust_jpeg_quality + RostoIntensidade-07Setima-Sortudo
adjust_jpeg_quality + RostoIntensidade-05Quinta-Acalmar
rgb_to_grayscale + RostoIntensidade-07Setima-Zangado
rgb_to_grayscale + RostoIntensidade-04Quarta-Surpresa
rgb_to_grayscale + RostoIntensidade-07Setima-Sortudo
rgb_to_grayscale + RostoIntensidade-05Quinta-Acalmar
rot90 + RostoIntensidade-07Setima-Zangado
rot90 + RostoIntensidade-04Quarta-Surpresa
rot90 + RostoIntensidade-07Setima-Sortudo
rot90 + RostoIntensidade-05Quinta-Acalmar

In [8]:
# for key1 in videos_df:
#     for key2 in videos_df[key1]:
#         print(key1,'+',key2)
#         print(videos_df[key1][key2].tail(1))

### 3. Results analysis

#### 3.1. Were all frames succesfully tracked?

##### 3.1.1. Fixed
Yes!

In [6]:
v1_success = video1_df['success'].values
v2_success = video2_df['success'].values

print('Sucesses Video 1:', np.unique(v1_success, return_counts=True))
print('Sucesses Video 2:', np.unique(v2_success, return_counts=True))

Sucesses Video 1: (array([1]), array([85]))
Sucesses Video 2: (array([1]), array([112]))

##### 3.1.2. Dynamic

Yes in all augmentations, except in rotation 90, where the most part of the frames were not sucessfully tracked.

In [4]:
for key1 in videos_df:
    for key2 in videos_df[key1]:
        print('Sucesses Video ',key1,key2, np.unique(videos_df[key1][key2]['success'].values, return_counts=True))

Sucesses Video  adjust_brightness RostoIntensidade-07Setima-Zangado (array([1]), array([74]))
Sucesses Video  adjust_brightness RostoIntensidade-04Quarta-Surpresa (array([1]), array([52]))
Sucesses Video  adjust_brightness RostoIntensidade-07Setima-Sortudo (array([1]), array([85]))
Sucesses Video  adjust_brightness RostoIntensidade-05Quinta-Acalmar (array([1]), array([112]))
Sucesses Video  adjust_jpeg_quality RostoIntensidade-07Setima-Zangado (array([1]), array([74]))
Sucesses Video  adjust_jpeg_quality RostoIntensidade-04Quarta-Surpresa (array([1]), array([52]))
Sucesses Video  adjust_jpeg_quality RostoIntensidade-07Setima-Sortudo (array([1]), array([85]))
Sucesses Video  adjust_jpeg_quality RostoIntensidade-05Quinta-Acalmar (array([1]), array([112]))
Sucesses Video  rgb_to_grayscale RostoIntensidade-07Setima-Zangado (array([1]), array([74]))
Sucesses Video  rgb_to_grayscale RostoIntensidade-04Quarta-Surpresa (array([1]), array([52]))
Sucesses Video  rgb_to_grayscale RostoIntensidade-07Setima-Sortudo (array([1]), array([85]))
Sucesses Video  rgb_to_grayscale RostoIntensidade-05Quinta-Acalmar (array([1]), array([112]))
Sucesses Video  rot90 RostoIntensidade-07Setima-Zangado (array([0, 1]), array([73,  1]))
Sucesses Video  rot90 RostoIntensidade-04Quarta-Surpresa (array([0, 1]), array([50,  2]))
Sucesses Video  rot90 RostoIntensidade-07Setima-Sortudo (array([0]), array([85]))
Sucesses Video  rot90 RostoIntensidade-05Quinta-Acalmar (array([0]), array([112]))

#### 3.2. Which are the largest and the smaller confidences?

##### 3.2.1. Fixed

In [7]:
print('Video 1 - max conf. = ', np.max(video1_df['confidence'].values), 'min conf. = ', np.min(video1_df['confidence'].values))
print('Video 2 - max conf. = ', np.max(video2_df['confidence'].values), 'min conf. = ', np.min(video2_df['confidence'].values))

Video 1 - max conf. =  0.98 min conf. =  0.88
Video 2 - max conf. =  0.98 min conf. =  0.93

##### 3.2.2. Dynamic

In [5]:
for key1 in videos_df:
    for key2 in videos_df[key1]:
        confidence = videos_df[key1][key2]['confidence'].values
        print('Video',key1,key2,'max conf. =', np.max(confidence), 'min conf. = ', np.min(confidence))

Video adjust_brightness RostoIntensidade-07Setima-Zangado max conf. = 0.98 min conf. =  0.93
Video adjust_brightness RostoIntensidade-04Quarta-Surpresa max conf. = 0.98 min conf. =  0.88
Video adjust_brightness RostoIntensidade-07Setima-Sortudo max conf. = 0.98 min conf. =  0.88
Video adjust_brightness RostoIntensidade-05Quinta-Acalmar max conf. = 0.93 min conf. =  0.88
Video adjust_jpeg_quality RostoIntensidade-07Setima-Zangado max conf. = 0.98 min conf. =  0.98
Video adjust_jpeg_quality RostoIntensidade-04Quarta-Surpresa max conf. = 0.98 min conf. =  0.88
Video adjust_jpeg_quality RostoIntensidade-07Setima-Sortudo max conf. = 0.98 min conf. =  0.88
Video adjust_jpeg_quality RostoIntensidade-05Quinta-Acalmar max conf. = 0.98 min conf. =  0.93
Video rgb_to_grayscale RostoIntensidade-07Setima-Zangado max conf. = 0.98 min conf. =  0.98
Video rgb_to_grayscale RostoIntensidade-04Quarta-Surpresa max conf. = 0.98 min conf. =  0.88
Video rgb_to_grayscale RostoIntensidade-07Setima-Sortudo max conf. = 0.98 min conf. =  0.88
Video rgb_to_grayscale RostoIntensidade-05Quinta-Acalmar max conf. = 0.98 min conf. =  0.93
Video rot90 RostoIntensidade-07Setima-Zangado max conf. = 0.68 min conf. =  0.0
Video rot90 RostoIntensidade-04Quarta-Surpresa max conf. = 0.82 min conf. =  0.0
Video rot90 RostoIntensidade-07Setima-Sortudo max conf. = 0.0 min conf. =  0.0
Video rot90 RostoIntensidade-05Quinta-Acalmar max conf. = 0.0 min conf. =  0.0

#### 3.3. Which AUs were detected in the selected frames?

##### 3.3.1. Fixed

In [19]:
video1_s_frames = [4,21,48,68,74,84]
video2_s_frames = [20,40,54,56,69,81]

###### 3.3.1.1. According to classification

In [20]:
#https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html
#Select rows given the selected frames
vid1_s_rows = video1_df[video1_df['frame'].isin(video1_s_frames)]
vid2_s_rows = video2_df[video2_df['frame'].isin(video2_s_frames)]

#Select the AU_c columns
cols = [video1_df.columns[0]]+ list(video1_df.columns[-18:])
vid1_s_rows = vid1_s_rows[cols]
vid2_s_rows = vid2_s_rows[cols]

print(cols)

['frame', 'AU01_c', 'AU02_c', 'AU04_c', 'AU05_c', 'AU06_c', 'AU07_c', 'AU09_c', 'AU10_c', 'AU12_c', 'AU14_c', 'AU15_c', 'AU17_c', 'AU20_c', 'AU23_c', 'AU25_c', 'AU26_c', 'AU28_c', 'AU45_c']

In [11]:
vid1_aus = {}
for id, r in vid1_s_rows.iterrows():
    v = r.values[1:]
    vid1_aus[int(r.values[0])] = list(compress(cols[1:], v))

In [12]:
vid1_aus

{4: ['AU04_c', 'AU10_c', 'AU14_c', 'AU25_c', 'AU45_c'],
 21: ['AU05_c', 'AU10_c'],
 48: ['AU05_c', 'AU10_c', 'AU23_c'],
 68: ['AU04_c', 'AU07_c', 'AU10_c', 'AU14_c', 'AU23_c'],
 74: ['AU04_c', 'AU06_c', 'AU10_c', 'AU14_c', 'AU23_c', 'AU45_c'],
 84: ['AU06_c', 'AU09_c', 'AU10_c', 'AU14_c', 'AU25_c', 'AU26_c', 'AU45_c']}

In [15]:
vid2_aus = {}
for id, r in vid2_s_rows.iterrows():
    v = r.values[1:]
    vid2_aus[int(r.values[0])] = list(compress(cols[1:], v))

In [16]:
vid2_aus

{20: ['AU06_c', 'AU07_c', 'AU12_c'],
 40: ['AU06_c', 'AU10_c', 'AU14_c'],
 54: ['AU06_c', 'AU07_c', 'AU10_c', 'AU12_c', 'AU25_c'],
 56: ['AU06_c', 'AU07_c', 'AU10_c', 'AU12_c', 'AU25_c'],
 69: ['AU06_c', 'AU10_c', 'AU12_c', 'AU14_c', 'AU25_c'],
 81: ['AU04_c', 'AU06_c', 'AU10_c', 'AU12_c', 'AU14_c', 'AU23_c']}

###### 3.3.1.2. According to regression

In [22]:
#https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html
#Select rows given the selected frames
vid1_s_rows = video1_df[video1_df['frame'].isin(video1_s_frames)]
vid2_s_rows = video2_df[video2_df['frame'].isin(video2_s_frames)]

#Select the AU_c columns
cols = [video1_df.columns[0]]+ list(video1_df.columns[5:22])
vid1_s_rows = vid1_s_rows[cols]
vid2_s_rows = vid2_s_rows[cols]

print(cols)

['frame', 'AU01_r', 'AU02_r', 'AU04_r', 'AU05_r', 'AU06_r', 'AU07_r', 'AU09_r', 'AU10_r', 'AU12_r', 'AU14_r', 'AU15_r', 'AU17_r', 'AU20_r', 'AU23_r', 'AU25_r', 'AU26_r', 'AU45_r']

In [23]:
vid1_aus_r = {}
for id, r in vid1_s_rows.iterrows():
    v = r.values[1:]
    vid1_aus_r[int(r.values[0])] = list(compress(cols[1:], v))

In [25]:
vid1_s_rows

,frame,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,AU07_r,AU09_r,AU10_r,AU12_r,AU14_r,AU15_r,AU17_r,AU20_r,AU23_r,AU25_r,AU26_r,AU45_r
3,4,0.16,0.00,2.14,0.00,0.27,0.76,0.00,0.00,0.0,0.00,0.89,0.00,0.09,0.00,0.56,1.64,0.12
10,11,0.00,0.15,1.27,0.00,0.09,0.56,0.00,0.01,0.0,0.00,0.28,0.74,0.00,0.00,1.22,2.87,0.33
23,24,0.00,0.00,1.53,0.14,0.00,0.06,0.02,0.20,0.0,0.04,0.09,1.14,0.24,0.32,0.48,0.61,0.00
41,42,0.00,0.00,1.39,0.00,0.00,0.00,0.12,0.64,0.0,0.00,0.00,0.44,0.00,0.28,0.02,0.15,0.00
43,44,0.00,0.00,1.31,0.00,0.00,0.00,0.10,0.64,0.0,0.00,0.04,0.71,0.00,0.26,0.01,0.25,0.00
63,64,0.51,0.18,0.63,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.39,0.11,0.00,0.00,0.45,1.28,0.39

In [24]:
vid1_aus_r

{4: ['AU01_r',
  'AU04_r',
  'AU06_r',
  'AU07_r',
  'AU15_r',
  'AU20_r',
  'AU25_r',
  'AU26_r',
  'AU45_r'],
 11: ['AU02_r',
  'AU04_r',
  'AU06_r',
  'AU07_r',
  'AU10_r',
  'AU15_r',
  'AU17_r',
  'AU25_r',
  'AU26_r',
  'AU45_r'],
 24: ['AU04_r',
  'AU05_r',
  'AU07_r',
  'AU09_r',
  'AU10_r',
  'AU14_r',
  'AU15_r',
  'AU17_r',
  'AU20_r',
  'AU23_r',
  'AU25_r',
  'AU26_r'],
 42: ['AU04_r', 'AU09_r', 'AU10_r', 'AU17_r', 'AU23_r', 'AU25_r', 'AU26_r'],
 44: ['AU04_r',
  'AU09_r',
  'AU10_r',
  'AU15_r',
  'AU17_r',
  'AU23_r',
  'AU25_r',
  'AU26_r'],
 64: ['AU01_r',
  'AU02_r',
  'AU04_r',
  'AU15_r',
  'AU17_r',
  'AU25_r',
  'AU26_r',
  'AU45_r']}

In [ ]:
vid2_aus_r = {}
for id, r in vid2_s_rows.iterrows():
    v = r.values[1:]
    vid2_aus_r[int(r.values[0])] = list(compress(cols[1:], v))

##### 3.2.1. Dynamic

In [22]:
frames_zangado = [4, 11, 24, 42, 44, 64]
frames_surpresa = [5, 7, 16, 26, 30, 50]
frames_sortudo = [4, 21, 48, 68, 74, 84]
frames_acalmar = [20, 40, 54, 56, 69, 81]

frames_selected = {
    'Zangado' : frames_zangado,
    'Surpresa' : frames_surpresa,
    'Sortudo' : frames_sortudo,
    'Acalmar' : frames_acalmar
}

In [23]:
videos_rows = defaultdict(lambda: defaultdict(str))

for aug_key in videos_df:
    for vid_key in videos_df[aug_key]:
        print(aug_key, vid_key)
        #Select rows given the selected frames
        aux_split = vid_key.split('-')[-1]
        print(aux_split)
        videos_rows[aug_key][vid_key] = videos_df[aug_key][vid_key][videos_df[aug_key][vid_key]['frame'].isin(frames_selected[aux_split])]
        #Select the AU_c columns
        cols = [videos_df[aug_key][vid_key].columns[0]]+ list(videos_df[aug_key][vid_key].columns[-18:])
        videos_rows[aug_key][vid_key] = videos_rows[aug_key][vid_key][cols]
        # print(cols)

adjust_brightness RostoIntensidade-07Setima-Zangado
Zangado
adjust_brightness RostoIntensidade-04Quarta-Surpresa
Surpresa
adjust_brightness RostoIntensidade-07Setima-Sortudo
Sortudo
adjust_brightness RostoIntensidade-05Quinta-Acalmar
Acalmar
adjust_jpeg_quality RostoIntensidade-07Setima-Zangado
Zangado
adjust_jpeg_quality RostoIntensidade-04Quarta-Surpresa
Surpresa
adjust_jpeg_quality RostoIntensidade-07Setima-Sortudo
Sortudo
adjust_jpeg_quality RostoIntensidade-05Quinta-Acalmar
Acalmar
rgb_to_grayscale RostoIntensidade-07Setima-Zangado
Zangado
rgb_to_grayscale RostoIntensidade-04Quarta-Surpresa
Surpresa
rgb_to_grayscale RostoIntensidade-07Setima-Sortudo
Sortudo
rgb_to_grayscale RostoIntensidade-05Quinta-Acalmar
Acalmar
rot90 RostoIntensidade-07Setima-Zangado
Zangado
rot90 RostoIntensidade-04Quarta-Surpresa
Surpresa
rot90 RostoIntensidade-07Setima-Sortudo
Sortudo
rot90 RostoIntensidade-05Quinta-Acalmar
Acalmar

In [24]:
# for key1 in videos_rows:
#     for key2 in videos_rows[key1]:
#         print(key1,key2)
#         print(videos_rows[key1][key2])

In [24]:
videos_aus = defaultdict(lambda: defaultdict(str))

for aug_key in videos_rows:
    for vid_key in videos_rows[aug_key]:
        print(aug_key+'_'+vid_key)
        for id, row in videos_rows[aug_key][vid_key].iterrows():
            selector = row.values[1:]
            videos_aus[aug_key+'_'+vid_key][int(row.values[0])] = list(compress(cols[1:], selector))

adjust_brightness_RostoIntensidade-07Setima-Zangado
adjust_brightness_RostoIntensidade-04Quarta-Surpresa
adjust_brightness_RostoIntensidade-07Setima-Sortudo
adjust_brightness_RostoIntensidade-05Quinta-Acalmar
adjust_jpeg_quality_RostoIntensidade-07Setima-Zangado
adjust_jpeg_quality_RostoIntensidade-04Quarta-Surpresa
adjust_jpeg_quality_RostoIntensidade-07Setima-Sortudo
adjust_jpeg_quality_RostoIntensidade-05Quinta-Acalmar
rgb_to_grayscale_RostoIntensidade-07Setima-Zangado
rgb_to_grayscale_RostoIntensidade-04Quarta-Surpresa
rgb_to_grayscale_RostoIntensidade-07Setima-Sortudo
rgb_to_grayscale_RostoIntensidade-05Quinta-Acalmar
rot90_RostoIntensidade-07Setima-Zangado
rot90_RostoIntensidade-04Quarta-Surpresa
rot90_RostoIntensidade-07Setima-Sortudo
rot90_RostoIntensidade-05Quinta-Acalmar

In [25]:
for key1 in videos_aus:
    print('***', key1,'***')
    pd.DataFrame.from_dict(videos_aus[key1],orient='index').to_csv(path_base_input+'aus/'+key1+'.csv')

*** adjust_brightness_RostoIntensidade-07Setima-Zangado ***
*** adjust_brightness_RostoIntensidade-04Quarta-Surpresa ***
*** adjust_brightness_RostoIntensidade-07Setima-Sortudo ***
*** adjust_brightness_RostoIntensidade-05Quinta-Acalmar ***
*** adjust_jpeg_quality_RostoIntensidade-07Setima-Zangado ***
*** adjust_jpeg_quality_RostoIntensidade-04Quarta-Surpresa ***
*** adjust_jpeg_quality_RostoIntensidade-07Setima-Sortudo ***
*** adjust_jpeg_quality_RostoIntensidade-05Quinta-Acalmar ***
*** rgb_to_grayscale_RostoIntensidade-07Setima-Zangado ***
*** rgb_to_grayscale_RostoIntensidade-04Quarta-Surpresa ***
*** rgb_to_grayscale_RostoIntensidade-07Setima-Sortudo ***
*** rgb_to_grayscale_RostoIntensidade-05Quinta-Acalmar ***
*** rot90_RostoIntensidade-07Setima-Zangado ***
*** rot90_RostoIntensidade-04Quarta-Surpresa ***
*** rot90_RostoIntensidade-07Setima-Sortudo ***
*** rot90_RostoIntensidade-05Quinta-Acalmar ***